@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #170f23;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.container {
  margin: 0 60px 0 300px;
  padding-top: 100px;
  max-width: 100%;

  .main {
    margin-bottom: 100px;
  }
}

button,
input {
  border: none;
  outline: none;
  user-select: none;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  user-select: none;
}
