.search_song {
  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  .song_content {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    align-items: center;
    color: #4e4757;
    font-size: 1.2rem;
    border-bottom: 1px solid #82828218;
    border-radius: 5px;
    margin-left: 10px;

    &:hover {
      background-color: #2f2739;
      border-bottom: 1px solid #ffffff00;
    }

    .song_item_left {
      display: grid;
      grid-template-columns: 40px 1fr;
      gap: 0 8px;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      .desc {
        max-width: 300px;
        min-width: 200px;
        .name_song {
          font-size: 1.4rem;
          color: #ffffff;
          font-weight: 600;
          margin-bottom: 5px;
          width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .artists {
          font-size: 1.2rem;
          color: #4e4757;
          font-weight: 400;
          width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .time {
      display: grid;
      justify-items: end;
      color: #8b8791;
      font-weight: 500;
    }
  }
}
